<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>Login</title>
</head>
<body class="text-center">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="">UserID</label>
        <input type="text" name="userId">
        <br>

        <label for="">passward</label>
        <input type="password" name="passward">
        <br>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br/>
    <a th:href="@{'/signup'}">SignUp</a>
</body>