<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	<!--テンプレートエンジン=データ+テンプレート thymeleaf=java+html5-->
    <head>
        <meta charset="UTF-8">
        <title>sample</title>
    </head>
    <body>
        <h1>sample</h1>
        <form action="/sample" method="POST">   <!--action=データの送信先（URI）、CGIプログラムのURI-->
            入力フォーム：<input type="text" name="text" th:value="${text_value}"/> <!--value=画面からControllerにnameの値を渡す-->
            <input type="submit" value="クリック"/>
        </form>
        <form method="POST" action="/sample/db">
            ID入力フォーム：<input type="text" name="search" th:value="${search_value}">
            <input type="submit" value="クリック"/>
        </form>
    </body>
</html>