<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>Detail</title>
</head>
<body>
    <div>
        <div>
            <h1>Detail</h1>
        </div>
        <form action="">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">Title</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">Text</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit">Delete</button>
            <button class="btn btn-primary" type="submit">Return</button>
        </form>
    </div>
</body>