<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>Layout</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="contrainer-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Layout</a>
            </div>
            <form action="">
                <button class="btn btn-link pull-right navbar-brand" type="submit">logout</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="">List</a>
                    </li>
                    <li role="presentation">
                        <a href="">Post</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>