<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" ></html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="post_contents">
        <div class="page-header" >
            <h1>Post</h1>
        </div>
        <form method="POST" th:action="@{/articlePost}" th:object="${articleEntity}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">ID</th>
                    <td>
                         <div class="form-group">
                           <input type="number" class="form-control" name="id"/>
                         </div>
                    </td>
                </tr>
                <tr>
                    <th class="active col-sm-3">Title</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">Text</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="text"/>
                        </div>
                    </td>
                </tr>
              </table>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>
</body>