<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" ></html>
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div th:fragment="update_contents">
                <div class="page-header" >
            <h1>Update</h1>
        </div>
        <form action="" th:method="put" th:object="${article}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3">Title</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{title}"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="active">Text</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{text}"/>
                        </div>
                    </td>
                </tr>
              </table>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
</body>